# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.venv/
venv/
env/

# Environment variables
.env

# Database
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Import files (keep them out of git)
codes_import.csv

# Logs
*.log
